
<section class="full-course-section">

    <div class="course-guide">

        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>

    <div class="guide-content">
        <h1>Full-stack:<br>A Complete Guide</h1>
        <div class="features">
            <span>Interview</span>
            <span>Master Classes with Industry Experts</span>
        </div>
        <p>Recommended for Students and Working Professionals</p>
        <div class="buttons">
            <a routerLink="/form" class="btn-register">Login To Register</a>
            <a routerLink="/courses" class="btn-brochure">Explore more <span>&#x1F4BE;</span></a>
        </div>
      
    </div>
</div>
    
    
    


    <div class="course-information">
        <div class="card">
            <img src="/assets/img/course-img/full-stack-web.jpg"
                class="secondary-course-img">
            <div class="container">
                <div class="text-content">
                    <h4>Course Description</h4>
                    <div class="short-description">
                        <p> Embark on an extraordinary coding odyssey with our groundbreaking course, "DSA to
                            Development - Complete Coding Guide"! 🌟 Discover the transformative power of mastering Data
                            Structures and Algorithms (DSA)</p>

                    </div>
                </div>
                <div class="rating">
                    <p> Rating: <span>4.7</span><i class="fa-regular fa-star-half-stroke"></i></p>
                </div>

                <div class="info">
                    <p>Price: <span> <sup>$</sup>5.7</span></p>
                    <p class="level"><i class="fa-solid fa-chart-line"></i> Beginner to Advance</p>
                </div>

                <div class="explore">
                    <button>Get course</button>
                </div>
            </div>
        </div>

    </div>

    <div class="about-course">
        <div class="container">
        <h2 >About the course</h2>
        <div class="about-container">
            <div class="course-description">
                <p>Embark on an extraordinary coding odyssey with our groundbreaking course, "DSA to Development - Complete Coding Guide"! 🌟 Discover the transformative power of mastering Data Structures and Algorithms (DSA) as you venture towards becoming a Proficient Developer or Data Scientist. 💻</p>

            </div>

            <div class="course-features">
                <ul>
                    <li>
                        <p>Comprehensive DSA Mastery: Learn essential data structures, algorithms, and advanced
                            techniques for optimized coding.</p>
                    </li>
                    <li>
                        <p>Programming Proficiency: Develop a strong foundation in programming languages to tackle
                            coding challenges with confidence.</p>
                    </li>
                    <li>
                        <p>Real-World Application: Engage in hands-on projects and build remarkable applications to
                            apply your skills.</p>
                    </li>
                    <li>
                        <p>Versatility in Tech Stacks: Choose full-stack development, data science or specialize in
                            specific technology stacks like MERN, Java, Python or Machine Learning.</p>
                    </li>
                    <li>
                        <p>Expert Mentoring: Gain valuable insights and guidance from industry professionals and
                            mentors.</p>
                    </li>

                </ul>
            </div>

        </div>
    </div>


    </div>

    <div class="course-content">
        <div class="container">
        <h2>Course Content</h2>

        <div class="content-container">

            <div class="content-row">
                <h3 class="title"><span>Session 1:</span> Deploying Backend Applications</h3>
                <ul class="content-list">
                    <li>
                        <p>Introduction to Full-Stack Development</p>
                    </li>
                    <li>
                        <p>HTML, CSS, and JavaScript Basics</p>
                    </li>
                    <li>
                        <p>Responsive Design and Frameworks</p>
                    </li>
                    <li>
                        <p>Hands-On Lab: Build a Simple Webpage</p>
                    </li>

                </ul>
            </div>

            <div class="content-row">
                <h3 class="title"><span>Session 2: </span>  Backend Development with RESTful APIs</h3>
                <ul class="content-list">
                    <li>
                        <p>Introduction to Backend Development</p>
                    </li>
                    <li>
                        <p>Database Integration</p>
                    </li>
                    <li>
                        <p>Authentication and Security</p>
                    </li>
                    <li>
                        <p>Hands-On Lab: Create a RESTful API</p>
                    </li>

                </ul>
            </div>
            <div class="content-row">
                <h3 class="title"><span>Session 3: </span>Connecting Frontend and Backend</h3>
                <ul class="content-list">
                    <li>
                        <p>Fetching Data from APIs</p>
                    </li>
                    <li>
                        <p>Frontend-Backend Communication</p>
                    </li>
                    <li>
                        <p>Deploying a Full-Stack Application</p>
                    </li>
                    <li>
                        <p>Hands-On Lab: Build a Full-Stack App</p>
                    </li>

                </ul>
            </div>
            <div class="content-row">
                <h3 class="title"><span>Session 4:</span> Advanced Topics and Project</h3>
                <ul class="content-list">
                    <li>
                        <p>Advanced Full-Stack Concepts</p>
                    </li>
                    <li>
                        <p>Performance Optimization</p>
                    </li>
                    <li>
                        <p>Final Project</p>
                    </li>
                    <li>
                        <p>Wrap-Up and Next Steps</p>
                    </li>

                </ul>
            </div>

        </div>
    </div>


    </div>

    <app-faq></app-faq>


</section>