@media screen and (max-width: 900px) {
    .form-section .form-container {
        flex-direction: column;
    }

    .form-info .container form {
        flex-direction: column;
        gap: 10px;
    }

    .field {
        width: 100%;
    }

    .field input {
        flex: 1;
        max-width: 100%;

    }

    .form-info .container form input {
        flex: 1;
        max-width: 100%;
    }
    .course-block-row{
        flex-direction: column;
      }

}

@media screen and (max-width: 1250px) {


    .slider-container {
        width: 370px;

    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;

    }

}

