@media screen and (max-width: 900px) {
    .form-section .form-container {
        flex-direction: column;
    }

    .form-info .container form {
        flex-direction: column;
        gap: 10px;
    }

    .header-content {
        display: none;
        align-items: center;


    }

    .header-content.active,
    .row2 .hidden.active {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #menu-icon {
        display: block;
    }

    #nav-menu {

        flex-direction: column;
        display: block;
    }

    .dropdown {
        pointer-events: auto;
        margin: 5px;
        padding: 10px;
    }

    .dropdown-content {
        position: relative;
        width: 100%;
        right: 0;
        background: transparent;
        padding: 0px;
        margin: 0px;
        box-shadow: none;

    }

    .dropdown-content p {
        padding: 5px;
    }

    .field {
        width: 100%;
    }

    .field input {
        flex: 1;
        max-width: 100%;

    }

    .form-info .container form input {
        flex: 1;
        max-width: 100%;
    }

}

@media screen and (max-width: 1250px) {

    .row2 .content {
        display: none;
    }

    .row2 .content {
        flex-direction: column;
        background-color: rgba(234, 236, 234, 0.5);
        position: relative;
    }

    .header-content .row {
        justify-content: center;
    }

    .main-header {
        justify-content: left;
        align-items: flex-end;
    }

    .sub-header a {
        margin-bottom: 10px;
    }

    .content .icons {
        justify-content: center;
    }


    .slider-container {
        width: 370px;

    }

    .nav {
        flex-direction: column;

    }


    #menu-icon {
        display: block;
    }

    .main-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-wrap: wrap;
        justify-content: center;

    }

    .active .item {
        display: block;
    }


}


@media screen and (min-width: 901px) {
    .header-content {
        display: flex;
    }

    #nav-menu {
        flex-direction: row;
        display: flex;
    }

    .dropdown {
        pointer-events: auto;
        margin: 0;
    }

    .dropdown-content {
        position: absolute;
    }

    .nav {
        flex-direction: row;

    }
}