/*
.nav {
    margin: 10px;
    gap: 12%;
    list-style-type: none;
  
}

.nav a {
    display: flex;
    margin-right: 3px;
    gap: 5px;
    color: var(--text-color);
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  
.icons a {
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
}
*/