<div id="content">

    <h1 id="page-title">Contacts</h1>
  
    <div id="contacts-info">
  
      <div class="info-part">
        <h2 class="info-title">Email addresses</h2>
        <a href="" class="email">info"&#64;"gmail.com</a>
        <a href="" class="email">info"&#64;"gmail.com</a>
        <a href="" class="email">info"&#64;"gmail.com</a>
      </div>
  
      <div class="info-part">
        <h2 class="info-title">Phone numbers</h2>
        <a href="" class="phone">+38(095) 555-55-55</a>
        <a href="" class="phone">+38(095) 555-55-55</a>
        <a href="" class="phone">+38(095) 555-55-55</a>
      </div>
  
      <div class="info-part">
        <h2 class="info-title">Addresses</h2>
        <div class="address">Kyiv</div>
        <div class="address">Lviv</div>
      </div>
  
    </div>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162626.34924104516!2d30.42005043334742!3d50.440416935719504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1609068890492!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="map"></iframe>
  
  </div>
  