<section class="about">
    <div class="layout-profile">
        <h2>My profile description</h2>
        <img src="https://i.postimg.cc/pLDcDCRz/thonk-2.png" class="avatar">
        <div class="container">
            <h3>Mac</h3>
            <h4 >marck01</h4>
            <p>doing programming stuff, even though Im not skilled at all</p>
            <p>marckgeo124&#64;gmail.com</p>
        </div>
    </div>

    <div class="layout-main">
        <div class="information-box">
            <h3>
                readme /marck001
            </h3>
            <hr>
            <ol>
                <li> Im interested in Software and Web Development </li>
                <li> Im currently learning HTML5, CSS3, Javascript and Python</li>
                <li> I have some knowledge of OOP(Object-oriented programming) in java and python</li>
            </ol>
        </div>
        <div class="skills">
            <h3>
                Skills
            </h3>
            <hr>
            <ol>
                <li>Front-end: HTML5, CSS3, Javascript, Angular</li>
                <li>Back-end: Java, Python,NodeJs, Express, Typescript</li>

            </ol>
        </div>
        <div class="projects">
            <h3>
                Current projects
            </h3>
            <hr>
            <ol>
                <li><a href="https://github.com/marck001/Online-course-landing-page-with-angular" target="_blank">Angular web application</a></li>
                <li><a href="https://github.com/marck001/Bank-management-System-in-java" target="_blank">Bank Management System</a></li>
                <li><a href="https://github.com/marck001/Hypothesis-Testing" target="_blank">Hypothesis Testing in python</a></li>
            </ol>
        </div>
        <div class="socials">
            <h3>
                Socials:
            </h3>
            <div class="socials-btn">
                <a >
                    Discord  <i class="fa-brands fa-discord"></i>
                </a>
                <a >
                   Reddit  <i class="fa-brands fa-square-reddit"></i>
                </a>
                <a >
                    Youtube  <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <h4>Discord server:</h4>
            <div class="discord-server">
                <a Alt="Join discord server">
                    Join Discord Server
                </a> 
            </div>
        </div>

    </div>

</section>