<div class="tutorials-section">
    <h1>Tutorial videos Gallery</h1>
    <div class="video-gallery">
        <div class="video-item">
            <iframe 
            width="360" height="215" src="https://www.youtube.com/embed/7CqJlxBYj-M?si=eUG5AVWvp85JLFlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Full stack</p>
            <div class="explore">

                <p>5 hours</p>

                <button>Watch video</button>
            </div>
        </div>
        <div class="video-item">
            <iframe 
            width="360" height="215"src="https://www.youtube.com/embed/qwAFL1597eM?si=7m0sWaageUY38CaN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Python</p>
            <div class="explore">

                <p>8 hours</p>

                <button>Watch video</button>
            </div>
        </div>
        <div class="video-item">
            <iframe  width="360" height="215" src="https://www.youtube.com/embed/nLRL_NcnK-4?si=gEK5bR0771VHHSMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>CS50 Harvard</p>
            <div class="explore">

                <p>15 hours</p>

                <button>Watch video</button>
            </div>
        </div>
        <div class="video-item">
            <iframe width="360" height="215" src="https://www.youtube.com/embed/A74TOX803D0?si=4KB17z35cgE6IK5_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Java</p>
            <div class="explore">

                <p>4 hours</p>

                <button>Watch video</button>
            </div>
        </div>
        <div class="video-item">
            <iframe 
            width="360" height="215"
            src="https://www.youtube.com/embed/sWbUDq4S6Y8?si=nvcMR_OofCEkVsTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Linux</p>
            <div class="explore">

                <p>5 hours</p>

                <button>Watch video</button>
            </div>
        </div>
        <div class="video-item">
            <iframe 
            width="360" height="215"
            src="https://www.youtube.com/embed/KJgsSFOSQv0?si=gIiJRT8xkVNGrm_M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>Sixth Demo</p>
            <div class="explore">

                <p>4 hours</p>

                <button>Watch video</button>
            </div>
        </div>
    </div>
</div>
