
<button class="open-chat"><img src="https://i.postimg.cc/K8jjcRwm/image-2024-08-28-084945004.png" class="mackodes"></button>
      <div class="chat">
        <div class="chat__header">
          <h3>Mackodes Chat</h3>
          <div class="close">✕</div>
        </div>
        
        <div class="chat__content">
          <div class="messages">
            <ul>
              <li class="first">
                <div class="dots">
                  <span></span>
                  <span></span>
                  <span></span>  
                </div>
                <div class="content">Hi 👋</div>
              </li>
              <li class="second">
                <div class="dots">
                  <span></span>
                  <span></span>
                  <span></span>  
                </div>
                <div class="content">To contact me, you can send me an email at: mackodes124&#64;gmail.com </div>
              </li>
              <li class="third">
                <div class="dots">
                  <span></span>
                  <span></span>
                  <span></span>  
                </div>
                <div class="content">Please give me sometime to respond!</div>
              </li>
              <li class="fourth">
                <div class="dots">
                  <span></span>
                  <span></span>
                  <span></span>  
                </div>
                <div class="content"> Have a great day! <img src="https://i.postimg.cc/K8jjcRwm/image-2024-08-28-084945004.png" class="mackodes"> </div>
              </li>
            </ul>
          </div>
        </div>
        
        <form class="chat__form">
            <input type="text" placeholder="Your message...">
            <button type="submit">Send</button>
        </form>
      </div>