<section class="faq clearfix">
    <div class="faq-container serif">

        <div class="faq-header"></div>
        <h1 class="text-h3">Frequently Asked questions</h1>

        <div class="accordion css-accordion questions">

            <input class="accordion-item-input" type="checkbox" name="accordion" id="item1" /><label for="item1"
                class="accordion-item-hd">Does the subscription plan include this course?<span class="accordion-item-hd-cta">&#9650;</span></label>
            <div class="accordion-item-bd answer">
                <p>90% of courses are included with subscription plan where you can have access to all of them.</p>
            </div>

            <input class="accordion-item-input" type="checkbox" name="accordion" id="item2" /><label for="item2"
                class="accordion-item-hd">What's the validity of this course?<span class="accordion-item-hd-cta">&#9650;</span></label>
            <div class="accordion-item-bd answer">
                <p>The course content comes with over 1 year of validity.</p>
            </div>

            <input class="accordion-item-input" type="checkbox" name="accordion" id="item3" />
            <label for="item3" class="accordion-item-hd">Which courses are for free?<span
                    class="accordion-item-hd-cta">&#9650;</span></label>
            <div class="accordion-item-bd answer">
                <p>We have a whole section of free courses that you can check.</p>
            </div>

        </div>
    </div>
</section>