<section class="course-section">
    <div class="container">
        <div class="row">
            <div class="row-info">

                <h3>Courses</h3>
                <button>Select all</button>

            </div>
            <div class="course-content" id="container">

                <div id="slider-container" class="slider-container">

                    <span class="slider-btn left-btn" id="left-btn"><i class="fa-solid fa-chevron-left"></i></span>
                    <div id="slider" class="slider">
                        <div class="course">
                            <img src="/assets/img/course-img/full-stack-web.jpg"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Full-stack Web-development</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="rating">


                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>

                                </div>

                                <div class="explore">
                                    <p>Best seller</p>


                                    <button>Get course</button>

                                </div>
                            </div>

                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/backend.png"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Backend development</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Advance</p>

                                </div>

                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>
                                </div>

                                <div class="explore">
                                    <p>Best seller</p>

                                    <button>Get course</button>
                                </div>
                            </div>

                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/machine.webp"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Machine learning</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>
                                </div>

                                <div class="explore">
                                    <p>Best seller</p>

                                    <button>Get course</button>
                                </div>

                            </div>
                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/data-science.jpg"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Data science</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>
                                </div>

                                <div class="explore">
                                    <p>Best seller</p>

                                    <button>Get course</button>
                                </div>
                            </div>

                        </div>

                        <div class="course">
                            <img src="/assets/img/course-img/frontend.png"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Front-end development</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>
                                </div>

                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>
                                </div>

                                <div class="explore">
                                    <p>Best seller</p>

                                    <button>Get course</button>
                                </div>
                            </div>

                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/networking.jpg"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Networking</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star-half-stroke"></i>
                                </div>

                                <div class="explore">
                                    <p>Best seller</p>

                                    <button>Get course</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <span class="slider-btn right-btn" id="right-btn"><i class="fa-solid fa-chevron-right"></i></span>

                </div>
                <!---->
            </div>
        </div>

        <div class="row">
            <div class="row-info">

                <h3>Tutorials</h3>

                <button>View all</button>

            </div>
            <div class="course-content" id="container">

                <div id="slider-container" class="slider-container">
                    <span class="slider-btn left-btn" id="left-btn2"><i class="fa-solid fa-chevron-left"></i></span>

                    <div id="slider" class="slider">
                        <div class="course">
                            <img src="/assets/img/course-img/mern.jpg" class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Full-stack tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="explore">
                                    <p>3 hours</p>

                                    <button>Watch video</button>
                                </div>
                            </div>

                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/python.jpeg "
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Python tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="explore">
                                    <p>5 hours</p>

                                    <button>Watch video</button>
                                </div>
                            </div>
                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/cs50.jpeg"
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>CS50 tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="explore">
                                    <p>4 hours</p>

                                    <button>Watch video</button>
                                </div>
                            </div>

                        </div>
                        <div class="course">
                            <img src="/assets/img/course-img/java.jpeg "
                                class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Java Tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="explore">
                                    <p>1 hour</p>

                                    <button>Watch video</button>
                                </div>
                            </div>

                        </div>

                        <div class="course">
                            <img src="/assets/img/course-img/linux.jpg" class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>Linux Tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Beginner to Advance</p>

                                </div>

                                <div class="explore">
                                    <p>5 hour</p>

                                    <button>Watch video</button>
                                </div>
                            </div>

                        </div>

                        <div class="course">
                            <img src="https://i.ytimg.com/vi/KJgsSFOSQv0/maxresdefault.jpg" class="course-img">
                            <div class="container">
                                <div class="text-content">
                                    <h4>C Tutorial</h4>
                                    <p><i class="fa-solid fa-chart-line"></i>Advance</p>

                                </div>

                                <div class="explore">
                                    <p>1 hour</p>

                                    <button>Watch video</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <span class="slider-btn right-btn" id="right-btn2"><i class="fa-solid fa-chevron-right"></i></span>
                </div>

                <!---->
            </div>

        </div>


    </div>

</section>