<footer class="footer">

    <div class="aux-box">
        <div class="socials">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.reddit.com" target="_blank"><i class="fa-brands fa-reddit"></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>

        </div>

    </div>
    <div class="main-footer">
        <div class="footer-box">
            <div class="container">
                <img src="" width="200px" style="border-radius: 50%;" id="full-logo">
            </div>
            <div class="socials">

                <a href="https://github.com/marck001" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a ><i class="fa-brands fa-discord"></i></a>
                <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>

            </div>
        </div>
        <div class="footer-content">
            <div class="row">
                <h3>Company</h3>
                <ul class="footer-text">
                    <li routerLink="/about">About us</li>
                    <li routerLink="/about">Github</li>
                    <li routerLink="/contacts">Contact us</li>
                    <li routerLink="/about">socials</li>

                </ul>
            </div>
            <div class="row">
                <h3>Languages</h3>
                <ul class="footer-text">
                    <li  routerLink="/tutorials/javascript">Javascript</li>
                    <li routerLink="/courses">Python</li>
                    <li routerLink="/courses">Java</li>
                    <li routerLink="/courses">C++</li>
                    <li routerLink="/courses">C</li>
                    <li routerLink="/courses">Rust</li>

                </ul>
            </div>
            <div class="row">
                <h3>Artificial Intelligence</h3>
                <ul class="footer-text">
                    <li routerLink="/courses/machine-learning">Machine learning</li>
                    <li routerLink="/courses">Deep learning</li>
                    <li routerLink="/courses">API</li>

                </ul>
            </div>
            <div class="row">
                <h3>Web-development</h3>
                <ul class="footer-text">
                    <li routerLink="/courses">Angular</li>
                    <li routerLink="/courses">APis</li>
                    <li routerLink="/courses">HTML</li>
                    <li routerLink="/courses">CSS</li>

                </ul>
            </div>

        </div>
    </div>
    <div class="copyright-box">
        <a href="https://github.com/marck001/Online-course-landing-page-with-angular" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <span>© 2024 UrCoding, Inc</span>

    </div>
</footer>