<footer class="footer">

    <div class="aux-box">
        <div class="socials">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.reddit.com" target="_blank"><i class="fa-brands fa-reddit"></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>

        </div>

    </div>
    <div class="main-footer">
        <div class="footer-box">
            <div class="container">
                <img src="" width="200px" style="border-radius: 50%;" id="full-logo">
            </div>
            <div class="socials">

                <a href="https://github.com/marck001" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a><i class="fa-brands fa-discord"></i></a>
                <a><i class="fa-brands fa-youtube"></i></a>

            </div>
        </div>
        <div class="footer-content">
            <div class="row">
                <h3>Company</h3>
                <ul class="footer-text">
                    <li>About us</li>
                    <li>Github</li>
                    <li>Contact us</li>
                    <li>socials</li>

                </ul>
            </div>
            <div class="row">
                <h3>Languages</h3>
                <ul class="footer-text">
                    <li>Javascript</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>C</li>
                    <li>Rust</li>

                </ul>
            </div>
            <div class="row">
                <h3>Artificial Intelligence</h3>
                <ul class="footer-text">
                    <li>Machine learning</li>
                    <li>Deep learning</li>
                    <li>API</li>

                </ul>
            </div>
            <div class="row">
                <h3>Web-development</h3>
                <ul class="footer-text">
                    <li>Angular</li>
                    <li>APis</li>
                    <li>HTML</li>
                    <li>CSS</li>

                </ul>
            </div>

        </div>
    </div>
    <div class="copyright-box">
        <a href="https://github.com/marck001/Online-course-landing-page" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <span>© 2024 UrCoding, Inc</span>

    </div>
</footer>