.main-header {
    font-family: var(--header-font);
    font-size: 1.1em;
    background-color:  var(--bkg-color);
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    color: var(--text-color);
    width: 100%;

}

.sub-header {
    background-color: var(--secondary-color);
    text-align: center;
    display: block;
    padding: 10px 0;
    color: aliceblue;
    position: sticky;
    font-family: var(--primary-font);
    width: 100%;
    z-index: 1;


}

.sub-header a {
    padding: 5px;
    cursor: pointer;
}

.sub-header a:hover {
    background-color: var(--form-color);
}

.header-content {
    margin: 10px;
    justify-content: space-between;

}

.header-content.active {
    display: block; 
}

#menu-icon {
    display: none;
    position: absolute;
    padding: 8px 12px;
    top: 20px;
    margin-right: 10px;
    right: 0;
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 5px;
    border: solid 1px rgb(143, 140, 140);
}
