<header class="header">
    <div class="main-header" id="nav-menu">
        <div class="logo">
            <a routerLink="/home">
                <img src="" width="120px" id="logo-img">
            </a>

        </div>

        <div class="header-content">
            <div class="row">
                <ul class="nav">
                    <li class="item dropdown"><a routerLink="/courses">Courses<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <p><a>Javascript</a></p>
                            <p><a routerLink="/courses/python">Python</a></p>
                            <p><a>Java</a></p>
                            <p><a>C#</a></p>
                            <p><a>C++</a></p>
                            <p><a>C</a></p>
                        </div>
                    </li>
                    <li class="item dropdown"><a  routerLink="/tutorials">Tutorials<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <p><a>Javascript</a></p>
                            <p><a>Python</a></p>
                            <p><a>Java</a></p>
                            <p><a>C++</a></p>
                            <p><a>C</a></p>
                        </div>
                    </li>
                    <li class="item dropdown"><a>Services<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <p><a routerLink="/courses">Courses</a></p>
                            <p><a routerLink="/contacts">Contact</a></p>
                            <p><a routerLink="/about" >About-us</a></p>
                        </div>
                    </li>
                    <li class="item dropdown"><a>Ai<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <p><a>Machine Leaning</a></p>
                            <p><a>Deep Learning</a></p>
                            <p><a>Ai algorithms</a></p>
                        </div>
                    </li>
                    <li class="item dropdown"><a>Pricing<i class="fa-solid fa-chevron-down"></i></a>
                        <div class="dropdown-content">
                            <p><a>Course prices</a></p>
                            <p><a>Plans</a></p>
                            <p><a>Subscription</a></p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row2">
            <div class="hidden content">
                <div class="icons">

                    <a><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a><i class="fa-solid fa-circle-half-stroke" id="btn-toggle"></i></a>
                    <a><i class="fas fa-globe"></i></a>
                </div>
                <button id="signUp-btn">Sign Up</button>

            </div>
        </div>
        <a id="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </a>

    </div>
    <div class="sub-header" id="navbar">
        <a>HTML</a>
        <a>JAVA</a>
        <a>JAVASCRIPT</a>
        <a>CSS</a>
        <a>BOOTSTRAP</a>
        <a>MACHINE LEARNING</a>
        <a>NODEJS</a>
        <a>ALGORITHMS</a>
    </div>

</header>
