<section class="subscription-section">
    

   
    <div class="card-container h">
        <div class="card-details">
            <div class="card-name">Free</div>
            <div class="card-price"><sup>$</sup><b>0.00</b></div>
            <hr>
            <div class="card-info">Limited Access</div>
            <hr>
            <div class="card-features">Free courses</div>
            <hr>
            <div class="card-description">Free plan acccess</div>
            <hr>
            <button id="sub1" type="submit">SUBSCRIBE</button>
        </div>
    </div>

    <div class="card-container adept">
        <div class="card-details f">
            <div class="card-name">Basic</div>
            <div class="card-price"><sup>$</sup><b>9.99</b></div>
            <hr>
            <div class="card-info">Unlimited Access</div>
            <hr>
            <div class="card-features">Paid Courses and videos</div>
            <hr>
            <div class="card-description">Paid plan</div>
            <hr>
            <button id="sub2" type="submit">SUBSCRIBE</button>
        </div>
    </div>

    <div class="card-container h">
        <div class="card-details">
            <div class="card-name">Pro</div>
            <div class="card-price"><sup>$</sup><b>19.99</b></div>
            <hr>
            <div class="card-info">Unlimited Access</div>
            <hr>
            <div class="card-features">Basic plan + tutoring help</div>
            <hr>
            <div class="card-description">Paid plan</div>
            <hr>
            <button id="sub3" type="submit">SUBSCRIBE</button>
        </div>
    </div>



</section>
