
<app-card></app-card>
<section class="section section-bg sectionTwo">
  <div class="container">
      <div class="col-md-10 offset-md-1">
          <h1 class="font-weight-bolder text-center sectionTwo-title">
              Unlimited Access to over 1,000 Courses
          </h1>
          <div class="text-muted text-center my-3 sectionTwo-description">
            Get unlimited access to 1,000 free courses across various fields, from programming to design, anytime, anywhere.
          </div>
      </div>
      <div class="course-block-row">
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=18x22vG9YbHVBflgWoUQfTgj_QBp3XQ8s&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Web Development</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1mnWp-kFC8bFfXnMPqYVFH9Qns4pxbzqa&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Web design</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1G6RiKbZkpG_WaN_fu7J63eX6Wkfs38aD&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Backend Development</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1ZtjvnO5Om8xM1GEVUf2PQnfK6gOM2eRH&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Personal Development</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1_-VudNakZqEzPTmwy10yNQPPFLeIAuuk&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Machine Learning</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1_-VudNakZqEzPTmwy10yNQPPFLeIAuuk&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">AI Development</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=14ytA25G3d7bKmEd8rLk3xJj2OCBU8_4a&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Lifestyle</p>
              </a>
          </div>
          <div class="col-md-3">
              <a href="#" class="course-block">
                  <img src="https://drive.google.com/thumbnail?export=view&id=1D4K_MwEBLjF7VrK_QWKuPSiD38vsle5w&sz=w1000" alt="" class="course-image" />
                  <p class="course-name">Coding Arts</p>
              </a>
          </div>
          <div class="col-md-3">
            <a href="#" class="course-block">
                <img src="https://drive.google.com/thumbnail?export=view&id=1G6RiKbZkpG_WaN_fu7J63eX6Wkfs38aD&sz=w1000" alt="" class="course-image" />
                <p class="course-name">Networking</p>
            </a>
        </div>
      </div>
  </div>
</section>
<!--
<app-course></app-course>
-->
<section class="section section-bg sectionThree">
  <div class="container">
      <div class="col-md-10 offset-md-1">
          <h1 class="font-weight-bolder text-center sectionThree-title">
              Explore New Courses
          </h1>
          <div class="sectionThree-categories">
              <a href="#" class="explore-btn">Brainfuck</a>
              <a href="#" class="explore-btn">CSS</a>
              <a href="#" class="explore-btn">HTML</a>
              <a href="#" class="explore-btn">Javascript</a>
              <a href="#" class="explore-btn">Ruby</a>
              <a href="#" class="explore-btn">Python</a>
              <a href="#" class="explore-btn">MongoDb</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 sectionThree-courseCard">
              <div class="col-md-5">
                  <div class="new-course-image" style="background-image: url('https://www.hostinger.com/tutorials/wp-content/uploads/sites/2/2018/11/what-is-html-3.webp');"></div>
              </div>
              <div class="col-md-7">
                  <div class="row">
                      <div class="col-md-8">
                          <small class="text-light-green-color">HTML</small>
                          <p class="font-weight-bold">Learn to structure web content with HTML, from basic tags to advanced semantic markup for accessible webpages.</p>
                          <small class="text-secondary-color">12 Aug 2024</small>
                      </div>
                      <div class="col-md-4">
                          <div class="font-weight-bold text-light-green-color">Free</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12 sectionThree-courseCard">
              <div class="col-md-5">
                  <div class="new-course-image" style="background-image: url('https://i.postimg.cc/X7n21yDN/image-2024-08-28-120147038.png');"></div>
              </div>
              <div class="col-md-7">
                  <div class="row">
                      <div class="col-md-8">
                          <small class="text-light-green-color">Ruby</small>
                          <p class="font-weight-bold">Explore Ruby's syntax and object-oriented features, leading to dynamic web applications with Ruby on Rails..</p>
                          <small class="text-secondary-color">20 Sep 2024</small>
                      </div>
                      <div class="col-md-4">
                          <div class="font-weight-bold text-light-green-color">Free</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12 sectionThree-courseCard">
              <div class="col-md-5">
                  <div class="new-course-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFZN0Nrisce0_Eh3LBEM4HCNzbdTN3o7Cx-Fx2Ar4hyN3oMBlo');"></div>
              </div>
              <div class="col-md-7">
                  <div class="row">
                      <div class="col-md-8">
                          <small class="text-light-green-color">Web Development</small>
                          <p class="font-weight-bold">Build modern websites with frontend and backend skills, mastering HTML, CSS, JavaScript, and server-side scripting.</p>
                          <small class="text-secondary-color">23 Oct 2023</small>
                      </div>
                      <div class="col-md-4">
                          <div class="font-weight-bold text-light-green-color">Paid</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12 sectionThree-courseCard">
              <div class="col-md-5">
                  <div class="new-course-image" style="background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQuLx6O1BI0rC7lkgGwt0WMOsNUQLazt_4ioyTh5Nsy8hZkE6YW');"></div>
              </div>
              <div class="col-md-7">
                  <div class="row">
                      <div class="col-md-8">
                          <small class="text-light-green-color">Backend Development</small>
                          <p class="font-weight-bold">Develop server-side applications, manage databases, and create secure APIs using popular backend technologies..</p>
                          <small class="text-secondary-color">12 Aug 2024</small>
                      </div>
                      <div class="col-md-4">
                          <div class="font-weight-bold text-light-green-color">Paid</div>
                      </div>
                  </div>
              </div>
              
          </div>
          
          
      </div>
      <div class="button-container">
        <div class="button-wrapper">
            <a href="#" class="explore-courses-btn">
                Explore Courses
            </a>
        </div>
    </div>
      
  </div>
</section>
<app-faq></app-faq>