.course-guide {
    text-align: center;
    padding: 20px;
    height: 32rem;
    position: relative;
    font-family: var(--primary-font);
}

.guide-content {
    position: relative;
}

.course-guide h1 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--secondary-color);

}

.features {
    margin: 20px 0;
    font-size: 1.1em;

}

.features span {
    display: inline-block;
    margin: 5px 10px;
    color: var(--text-color);
    font-size: 1.2em;
}

.course-guide p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


.guide-content p {

    font-size: 1.4em;
    color: var(--toggle-color);
    font-weight: 500;
}

.buttons {
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 10px;
    display: inline-block;
}

.course-features{
    font-family: var(--course-font);
}
.btn-register {
    background-color: var(--success-color);
}

.btn-brochure {
    background-color: var(--info-color);
    border: 1px solid var(--border-color);
  
}

.btn-register:hover{
    background-color: transparent;
    border: 1px solid var(--success-color);;
}

.btn-brochure:hover{
    background-color: transparent;
    border: 1px solid var(--info-color);


}
.form-note {
    font-size: 0.9em;
    color: #9acbd7;
    margin-top: 20px;
}

.card {
    display: flex;
    gap: 20px;
    background-color: aliceblue;
    padding: var(--main-padding);
    justify-content: center;
    background-color: var(--main-bg);
    color: var(--text-color);
    font-size: 1.1em;
}

.secondary-course-img {
    width: 100%;
    height: 300px;
    float: left;
    max-width: 500px;
    border-radius: 10px;
}

.container,
.about-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: var(--main-padding);

}

.content-container {
    padding: 20px;
    background-color: var(--label-color);
    font-size: 1.3em;
    margin: 10px;
    border-radius: 15px;
}

.content-row {
    margin: 20px;
}

.course-content {
    background-color: var(--github-color);
}

.short-description {
    margin-top: 10px;
    color: var(--secondary-text-color);
    font-family: var(--course-font);
    letter-spacing: 1px;
}

.course-description {
    color: var(--secondary-text-color);
}

.info p,
li {

    margin-top: 10px;
}

.info .level{
    color: var(--warning-color);
}

span {
    color: var(--info-color);
}

.about-course {

    color: var(--text-color);
    font-size: 1.2em;
}

.about-course .container {
    padding: 10%;
    font-family: var(--section-font);
    letter-spacing: 1px;
}

.explore button {
    padding: 15px 50px;
}

.course-content {
    background-color: var(--main-bg);
    color: var(--text-color);
}

.course-content h2 {
    text-align: center;
    border-bottom: 2px solid var(--border-color);
}

.container h2{
    font-size: 1.3em;
}

.content-row{

    font-family: var(--primary-font);
}

.content-row h3 {
    color: var(--success-color);
  
}

.container h2 {
    color: var(--info-color);
    font-size: 1.4em;
}

.text-content h4 {
    font-size: 1.2em;
    border-bottom: 2px solid var(--info-color);
}

@media screen and (max-width:700px) {

    .card {
        flex-direction: column;
    }
}


/*Animation*/

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
        border-radius: 50%;
    }

}