<section class="form-section">

    <div class="container">
        <div class="form-container">
            <form class="form">
                <h3>Registration form</h3>

                <div class="form-content">
                    <div class="form-row">
                        <fieldset class="field">
                            <input id="first-name" name="first-name" type="text" required placeholder="Name..." />
                            <input id="last-name" name="last-name" type="text" required placeholder="Lastname..." />
                            <input id="email" name="email" type="email" required placeholder="e-mail..." />

                        </fieldset>
                    </div>
                    <div class="form-row">
                        <fieldset class="field">

                            <label for="referrer">How did you hear about us?
                                <select name="referrer">
                                    <option value="">select one</option>
                                    <option value="1">News</option>
                                    <option value="2">Channel</option>
                                    <option value="4">Other</option>
                                </select>
                            </label>
                            <label for="bio">Provide a bio descripcion:
                                <textarea id="bio" name="bio" rows="3" cols="25" placeholder="I like coding"></textarea>

                            </label>

                        </fieldset>
                        <label for="terms-and-conditions">
                            <input class="inline" id="terms-and-conditions" type="checkbox" required
                                name="terms-and-conditions" /> I accept the <a>terms and conditions</a>
                        </label>
                    </div>
                    <button type="submit">Submit</button>

                </div>

            </form>

            <div class="form-info">
                <h4>Register here</h4>


                <div class="container">
                    <h5>Subscribe via Email</h5>
                    <p>Get updates when new tutorials and courses are published on UrCoding. Enter your email to
                        enroll.</p>
                    <form>
                        <input type="email" name="email" id="email" placeholder="Enter your email address"
                            autocomplete="off">
                        <button type="button">Subscribe</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>